<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h2>1) Your late deadlines and their latencies</h2>
    {% if lateTasks is defined and lateTasks %}
    <table>
      <tr>
        <th>Title</th>
        <th>Latency</th>
      </tr>
      {% for lateTask in lateTasks %}
      <tr>
        <td>{{lateTask.title}}</td>
        <td>{{lateTask.latency}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h3 style="color: green">Congrats! You finish all of your tasks on time</h3>
    {% endif %}
    <h2>2) Your average task completion time is:</h2>
    <h1>{{avgCompTime.avg_time}} minutes</h1>

    <table>
      <caption>
        3) Your number of completed tasks in each catergory
      </caption>
      <tr>
        <th>Task Type</th>
        <th>Count</th>
      </tr>
      {% for numCompTask in numCompTasks %}
      <tr>
        <td>{{numCompTask.task_type}}</td>
        <td>{{numCompTask.number}}</td>
      </tr>
      {% endfor%}
    </table>

    <table>
      <caption>
        4)Your uncompleted tasks sorted by increasing order of deadlines
      </caption>
      {%if uncompletedTasks is defined and uncompletedTasks%}
      <tr>
        <th>Title</th>
        <th>Deadline</th>
      </tr>
      {% for uncompletedTask in uncompletedTasks %}
      <tr>
        <td>{{uncompletedTask.title}}</td>
        <td>{{uncompletedTask.deadline}}</td>
      </tr>
      {% endfor%} 
      {%endif%}
    </table>
    
    <table>
      <caption>
        5) Your top 2 tasks that took the most time
      </caption>
      <tr>
        <th>Title</th>
        <th>Completion Time</th>
      </tr>
      {% for task in top2Longest %}
      <tr>
        <td>{{task.title}}</td>
        <td>{{task.compTime}}</td>
      </tr>
      {% endfor%}
    </table>
    <form action="{{ url_for('tasks') }}" method="get">
      <button type="submit" class="btn btn-primary">Go to tasks</button>
    </form>
  </body>
</html>
